/*
h2
	{
		color: red;
		font-size: 70px;
		margin: 0px;
		background-color: blue;
		text-align: center;
	}

	Classes using '.', specific element inside div can be targeted by adding to the end.
	.index-intro p
	{
	color: green;
	}
	ID tags using '#'
	#index-h2
	{
	color: green
	}

	h1
	{
		font-family: arial, "Times New Roman";
		font-size: 22px;
		font-style: italic;
		font-weight: 500;
		text-align: left;
		text-decoration: underline;
		text-indent: 30px;
		text-transform: lowercase;
		color: rgba(77,0,255,1);
		word-spacing: 5px;
	}
	p
	{
		line-height: 40px;
		font-size: 22px;
		text-indent: 30px;
	}
	a
	{
		text-decoration: underline;
	}
	.paragraph
	{
		font-size: 50px;
		line-height: 62px;
		text-indent: 30px;
		font-family: 'MonteCarlo', cursive;
		text-decoration: underline;
	}
*/

/* Set height of body and the document to 100% to enable "full page tabs" */
body, html {
  height: 100%;
  margin: 0;
}

/* Style tab links */
.tablink {
  background-color: #594533;
  color: white;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  font-size: 17px;
  width: 33%;
}

.tablink:hover {
  background-color: #777;
}

/* Style the tab content (and add height:100% for full page content) */
.tabcontent {
  display: none;
  padding: 100px 20px;
  height: 100%;
}

#Home {background-color: #5e503b;}
#Events {background-color: #a5d88f;}
#Rewards {background-color: #f0f08a;}


#map
{
	height: 600px;
	width: 100%;
    border-radius: 35px
}

#header
{
	font-family: 'Cinzel', serif;
	text-align: center;
	font-size: 60px;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

.image1 {
  width: 50%
  height: 50%
  border-radius: 10px
}